<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>License Plate Recognition</title>
</head>
<body>
    <h1>Upload Image for License Plate Recognition</h1>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".jpg, .jpeg, .png">
        <button type="submit">Submit</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    {% if license_plate %}
        <h2>Result:</h2>
        <p>License Plate: {{ license_plate }}</p>
    {% endif %}
    {% if result %}
        <h2>Result Image:</h2>
        <img src="{{ result }}" alt="License Plate Recognition Result">
    {% endif %}
</body>
</html>
